version: '3.8'

services:
  
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./postgres/website_database.sql:/docker-entrypoint-initdb.d/website_database.sql
      
    environment:
      - POSTGRES_USER=aendraes
      - POSTGRES_PASSWORD=lofqvist1
    expose:
      - 5432
    ports:
      - 5433:5432
  web:
    image: aendraes/website
    command: gunicorn --bind 0.0.0.0:5000 app:app
    volumes: 
    - ./website:/usr/src/app/
    ports:
    - 5000:5000
  nginx:
    build: ./services/nginx
    ports:
      - 1337:80
    depends_on:
      - web

volumes:
  postgres_data:
