
<ul class="list-group-item list-unstyled"><li>1. Introduction</li><li>2. Why bodybuilding</li><li> 3. The volume fallacy and intensity of effort</li><li>3.b Overtraining</li><li>3.c. Hard work vs strategy</li><li>4. How to manage weight</li><li>5. Hormone optimization</li><li>6. How to stick to a routine</li><li>7. Programming</li><li>8. Closing thoughts</li></ul>

<h4 id="1">1. Introduction</h4>
With the alarming rate of nonsense increasing in the bodybuilding community I'd like to clarify some things.  Parts of this is my own personal experience and research and part of it is that of accomplished bodybuilders from the past.
There's so much dogma in the bodybuilding community. "You need to eat 6 times a day to grow." "Walk 10000 steps a day to lose weight."
These things infect our lives whenever we look for information on how to build our bodies properly, but are often not necessary or just old ideas that have been stuck "because Arnold said so" or something as silly.
In this text I aim to dispel some of these myths of good bodybuilding practice.
I do not seek to impose any sales pitches onto you in making this text. On the contrary I will not even display a program.
My aim is to increase your understanding such that you will be able to build your own habits, programs and body.
<h4 id="2">2. Why bodybuilding</h4>
To answer this question, we first need to dispel the stigma that stems from modern bodybuilding and instead look at the semantics of the word and the actual meaning of it.
The literal meaning of the word is "building your body".
I might be inclined to interject and say that the meaning I want to give the word is a more specific one - "Shaping your body for optimized functionality in some regard."
Modern bodybuilding has taken the literal use of the word to heart and made the sport into something vulgar. Shape and proportions are left out and we're now looking at bubble guts and steroid-freaks.
There are more aspects to bodybuilding than visual appearance though.
To build your body is to improve its functions in regards to appearance, strength, agility and general health. If you look like a mountain but are not able to even run because your joints are so damaged from your heavy weight, you're a cripple.
The same applies for strongmen in the 130 kg + category. Their bodies and their minds are often so severely damaged by the extreme damage they do to their health they often end up depressed and unable to think clearly.
There are similar problems with other approaches to bodybuilding. The one that comes closest to being an overall good is the aesthetics-branch.
If done correctly, which is that the very low body fat is a non-permanent state these individuals are often able to preserve their health.

Bodybuilding is self-improvement through heavy trauma and at the very core of improving your character.
How can you aim to become better in all aspects if you do not look to better what's in front of you?
You'll be a highly specific individual, missing out on the increased intelligence and life-quality of the polymaths.
Having an ugly body is akin to having a messy room and living in filth. And although in periods of their lives many successful people neglect other parts in favor of "their one thing". This is generally not a sustained effort.
“Two things remain irretrievable: time and a first impression.”
Of course looking like a greek god has it's benefits. Other men will see you as more dominant and respectable. Women will be significantly easier to woo.
You'll appear competent and combined with dressing properly you'll leave an impression on people as a man of great character.
Because you have something that few others do and you display it proudly.

<h4 id="3">3. The volume fallacy and Intensity of effort.</h4>
This is one of the longer segments and that is why I choose to divide it up into three parts.
The reason for the length is that this is one of the most common things to get wrong.

Just looking for conventional wisdom on bodybuilding can make one sick to the stomach.
We hear stories of how it's all about "the grind" and just putting the hours in but there's never really any rational reasoning behind it. It goes back to our primitive instincts, we tend to believe "more is better". This is certainly true for food and sex, but less so for other things. Having a giant house will give you a larger area to clean.

<b style="text-align:center">Hormesis</b>
The human body generally works under the principle of hormesis. It's constantly adapting to trauma.
If psychological trauma is adequate(as in moderate reward and punishment) we turn into well functioning individuals. If however you get a highly intense trauma (such as sexual abuse or parental mental abuse) chances are you'll not be able to adapt and your mental stability is compromised for a very long time after the incident.
There is no reason to believe that the human body should function in any other way in regards to physical trauma. In fact It's been determined that physical exercise(physical trauma) can increase your resilience to trauma of other sources(psychological).

This is the fundamentals of bodybuilding. In order to facilitate muscle growth, a trauma is needed.
If the magnitude of the trauma is too large, we will undoubtedly experience muscle damage.

This is exceedingly common among strongmen. Since the competitions are very long, the exercises intense and some muscles underdeveloped (As in the tire-flip) bicep tears are more a norm of the sport than exception.

<b style="text-align:center;">Volume</b>
Since it is well known we need to have a moderate trauma on a continual basis to build muscle, many people turn to volume to induce that trauma.
<i>"When he was competing, he would lift weights for five hours a day."</i>
This was said about Arnold Schwarzenegger, one of the most famous bodybuilders. We need to keep a few things in mind though.
<b>First.</b> He was on steroids. This is important because steroids alter the bodys ability to recuperate
<b>Second.</b> In the bodybuilding world he is not considered one of the best physiques and his victories were often tainted by disputes.
<b>Third.</b> People lie. There's an incentive to keep the image up as a hard worker. Working hard is regarded very highly in society and for an aspiring actor and politician such as Arnold or Dwayne Johnson it's very beneficial to keep that image up.
But consider this. When it is so common that people lie about steroid use in bodybuilding, the olympics and other sporting areas, why would there be any hinderance to lie about working hard, which is merely an embellishment of the truth and not a complete inaccuracy.
I do not doubt that Arnold spent much of his time at the gym. But how much of that time was actively working out and how much of it was chatting with his mates and hitting up girls, eating etc..?

I want to dispel the myth that these people are superhuman. Because when regular people try these crazy 6 days a week training programs out they often find it is not possible to keep at it with good pace for 2 hours a day 6 days a week.
Not only is it very difficult to stick to such a routine, it is also severely damaging to the body and growth is stunted.
This is very often what we see with young gym-goers. They spend a long time at the gym almost every day but don't hit the threshold necessary to stimulate growth but still cause damage to the muscle tissue while depleting it's resources.

Let's try another thought experiment to get the point across:
Assume you're trying to get a tan. You're on vacation. You have two options.
1. You go out into the sun in a hot country for long periods of time not having any protection.
2. You go out into the sun only for short periods of time during the hot hours or stay in the water.
Most people have experienced this, in the first scenario you get sunburned. You go red for a few days, feel sick, hurt, and your tan is not much better at the end of it.
In the second scenario you will not get as sunburnt, but at the end of your vacation you will have improved your complexion slightly or by a large margin.
This is because the intense  continual trauma experienced in the first scenario depletes the bodys resources and ability to recuperate. The second scenario has a higher amount of trauma but it allows for restoration and replenishment of the nutrients in the skin.

Bodybuilding functions in the exact same way. If you expect to build muscle while not giving it time to recover and time to grow you will not build muscle. In most cases you will even lose muscle mass since you don't need muscle mass to sustain the continual trauma. Less muscle is even  more beneficial if your goal is to be able to sustain long bouts of light to medium exercise.
There is a use for this and it might even be argued it's of more use to humans in the natural environment. One of man's oldest hunting strategies is "Persistence hunting" where we literally run the animals down and kill them when they are no longer able to move.
In todays world we are past this kind of functionality though and in everyday life leanness, some amount of fat and strength is far more beneficial.

In order to build muscle it is needed to hit the appropriate threshold of intensity to stimulate the growth, sustain that for some amount of time and not go so far as to heavily damage your muscles or deplete the resources they need to function.
The defining factor here is therefore intensity of effort, not volume or frequency.
Volume is only a factor of intensity of effort, if the load is higher volume will need to be lower.
Likewise frequency only comes into consideration once you start to consider recuperation and regeneration. This is accurate on a short-term basis and long-term.
In the short term, you do not want to be heavily out of breath before you start your next exercise, since this will reduce the amount of resources you have available to you. Instead, if not doing a superset, look for your heart rate to return to slightly above normal or "Until you feel ready to do the next set at maximum capacity".
In the long term, you want to consider your bodys ability to recover.
Here are some pointers.
1. Assess your sleep quality the days following a workout.
2. How heavy of a load was the last workout? How long will it take your nervous system to recover?
3. How strenuous are your days aside your workouts? Do you get active recovery time at work?
4. Does your body feel ready to go into a new workout?
5. Do you look forward to the next workout?

In general and in keeping with these pointers my suggestion, and what I try my best to practice myself is to give at least one day for my nervous system to recover, and one more for the muscular resources to come back to normal. If my last workout was intense(Deadlifts for example) I will give one or two more.
This gives me something looking like three workouts in eleven days, or roughly less than twice a week.
Going by convention, this is not enough. Going by experience and by what I've learned from others, this is plenty.
In order to prevent the negative side-effects of exercise this is the amount appropriate for me and with another lifestyle, more or less may be more adequate.

<h4 id="3b">Overtraining</h4>
This leads me to the next topic which I've already covered a bit. 