{% extends 'layout.html' %}
{% block headline %} Ideas {%endblock%}
{%block content%}
<h4>
    Links
</h4>
<div style="text-align:center;">
    <b>Psychology and philosophy</b>
</div>
<ul class="list-group-item list-unstyled" style="text-align:center;">
    <li>
        <a href="https://www.youtube.com/watch?v=WlYJ5AGUhp0" class="link-dark" style="text-decoration:none;">Andrew Huberman on Trauma</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=8m9SJ30eXKI&ab_channel=Strangepete" class="link-dark" style="text-decoration:none;">Gabor Mate on danger of inauthenticity</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=Tgd7zgJ9CjA&ab_channel=Prof.SamVaknin" class="link-dark" style="text-decoration:none;">Using Psychosis to heal NPD</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=RE4nEbj8On0&ab_channel=Prof.SamVaknin" class="link-dark" style="text-decoration:none;">Narcissism is a symbiosis</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=qOJ0lUSBI14&ab_channel=aminr" class="link-dark" style="text-decoration:none;">Mate on Peterson</a>
    </li>
    
</ul>
<div style="text-align:center;">
    <b>Love</b>
</div>
<ul class="list-group-item list-unstyled" style="text-align:center;">
    <li>
        <a href="https://www.youtube.com/watch?v=oMU4L6_YAoQ&ab_channel=FadiAkil" class="link-dark" style="text-decoration:none;">Interpretation on Nietzsche's perspective</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=IBKRZCgtz6k&ab_channel=ProgressiveInternational" class="link-dark" style="text-decoration:none;">Slavoj Zizek</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=Uzat8rCfP8U&ab_channel=PowerfulPill" class="link-dark">Huberman on kindness</a>
    </li>
</ul>
<div style="text-align:center;">
    <b>Character building</b>
</div>
<ul class="list-group-item list-unstyled" style="text-align:center;">
    <li><a href="https://www.youtube.com/watch?v=2bL5JHKf16k" class="link-dark">4 Traps in life - Naval Ravikant, Charlie Mungers</a></li>
    <li>
        <a href="https://www.youtube.com/watch?v=BjZXRs6fAkA&t=919s" class="link-dark">Simon Sinek 5 fundamentals of leadership</a>
    </li>    
</ul>


<!--
<p style="text-align:center;">Love is like the two pole stars, each connected firmly to but also completely independent of one another.</p>
<p style="text-align:center;">Friendship has many aspects, one is mutual exploitation, another is mutual enjoyment. Yet another is mutual admiration and inspiration.</p>
-->
    {%endblock content%}
