{% extends 'layout.html' %}
{% block headline %} Projects {% endblock %}
{% block content %}
<h4>Web apps:</h4>
<div style="text-align:center;">
    <a href="{{url_for('teamscramble')}}">Team Scrambler - get randomized teams</a>
</div>
<div style="text-align:center;">
  <a href="{{url_for('temperature')}}">Get the temperature near you!</a>
</div>
<div style="text-align:center;">
  <a href="{{url_for('workout')}}">Workout Log</a>
</div>

<h4 class="mt-3">Machine apps(Github)</h4>
<div style="text-align:center;">
  <a href="https://github.com/Aendraes/Small-Python-Projects/tree/main/multiclipboard">Multiclipboard</a>
</div>

{% endblock %}
